<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="productList"></ul>
    <form id="addProductForm">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="code" placeholder="Código" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Categoría" required>
        <input type="text" id="thumbnail" placeholder="Thumbnail" required>
        <button type="submit">Agregar Producto</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
